<div class="h-[595px] z-10 object-cover bg-no-repeat bg-center bg-cover text-center relative bg-[url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Th%C6%B0_vi%E1%BB%87n_HUIT.jpg/800px-Th%C6%B0_vi%E1%BB%87n_HUIT.jpg')]" >
    <div class="w-full h-full absolute z-10 bg-black opacity-30"></div>
    <div class="container mx-auto flex flex-col items-center justify-center h-full ">
      <h1 class="text-white text-6xl font-extrabold z-20 drop-shadow-lg">CHÀO MỪNG BẠN ĐẾN VỚI PHẦN MỀM HƯỚNG NGIỆP CHO HỌC SINH/SINH VIÊN</h1>
      <h3 class="text-orange-400 mt-8 text-4xl font-bold z-20 drop-shadow-lg">Đề tài : Ứng dụng phân cụm dữ liệu trong việc phân tích, đánh giá kết quả học tập của học sinh/sinh viên</h3>
      <div class="z-20 mt-14">
        <a href="/introduction" class="p-4 bg-white cursor-pointer rounded-md text-xl font-bold mr-8">Tìm hiểu thêm</a>
        <a href="/cluster" class="px-8 py-4 bg-blue-500 text-white cursor-pointer rounded-md text-xl font-bold mr-8">Phân cụm</a>
      </div>
    </div>
  </div>