<div class="h-[595px] w-full bg-blue-50 p-16 grid grid-cols-3 gap-12">
    <div class="h-full bg-white drop-shadow-xl rounded-3xl flex flex-col items-center relative">
        <img src="https://cdn-icons-png.flaticon.com/128/2423/2423830.png" class="w-44 h-44 object-cover mt-8 rounded-full bg-blue-100">
        <h3 class="text-2xl font-bold mt-8 text-indigo-500">Trần Thị Hằng</h3>
        <p class="text-base font-medium mt-4 text-orange-400">MSSV: 2001191039</p>
        <span class="text-base font-medium mt-2 mb-4 text-orange-600">tranthingochang733&#64;gmail.com</span>
        <a class="bg-blue-100 text-blue-500 font-bold text-base p-2 rounded-md">Thành viên</a>
    </div>
    <div class="h-full bg-white drop-shadow-xl rounded-3xl flex flex-col items-center relative">
        <div class="absolute z-10 top-[-20px] right-[-20px] rotate-12"> <img src="https://cdn-icons-png.flaticon.com/128/9967/9967681.png" class="w-12 h-12"></div>
        <img src="https://cdn-icons-png.flaticon.com/128/3884/3884871.png" class="w-44 h-44 object-cover mt-8 rounded-full bg-blue-100">
        <h3 class="text-2xl font-bold mt-8 text-indigo-500">Phan Thị Nguyệt Trầm </h3>
        <p class="text-base font-medium mt-4 text-orange-400">MSSV: 2001190875</p>
        <span class="text-base font-medium mt-2 mb-4 text-orange-600"> huuthanh024&#64;gmail.com</span>
        <a class="bg-blue-100 text-blue-500 font-bold text-base p-2 rounded-md">Thành viên</a>
    </div>
    <div class="h-full bg-white drop-shadow-xl rounded-3xl flex flex-col items-center relative">
        <img src="https://cdn-icons-png.flaticon.com/128/1211/1211015.png" class="w-44 h-44 object-cover mt-8 rounded-full bg-blue-100">
        <h3 class="text-2xl font-bold mt-8 text-indigo-500">Huỳnh Châu Tín</h3>
        <p class="text-base font-medium mt-4 text-orange-400">MSSV: 2001190861</p>
        <span class="text-base font-medium mt-2 mb-4 text-orange-600">huynhchautin.nt16&#64;gmail.com</span>
        <a class="bg-blue-100 text-blue-500 font-bold text-base p-2 rounded-md">Thành viên</a>
    </div>
</div>