

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="HUIT logo"
    src="https://hufi.edu.vn/images/tt-tstt/untitled.png"
  />
  <a href="/home">TRANG CHỦ</a>
  <a href="/introduction">GIỚI THIỆU</a>
  <a href="/about">VỀ CHÚNG TÔI</a>
  <a href="/cluster">PHÂN CỤM</a>
  <a href="/data">DỮ LIỆU</a>
    <div class="spacer"></div>
</div>

<div class="container mx-auto brand">
  <div class="grid grid-cols-12 gap-4 h-24">
    <div class="col-span-3 flex flex-col items-center justify-center">
      <img src="https://huit.edu.vn/Images/Documents/N00CT/logo-huit-web-chinh-moi-mau-xanh-02.svg?h=80">
    </div>
    <div class="col-span-9 flex flex-col items-center justify-center">
      <h2 class="font-medium text-md text-blue-900" style="margin: 0px !important;">BỘ CÔNG THƯƠNG</h2>
      <h1 class="font-bold text-xl text-blue-900" style="margin: 0px !important;">TRƯỜNG ĐẠI HỌC CÔNG THƯƠNG TP. HỒ CHÍ MINH</h1>
    </div>
  </div>
</div>

<router-outlet></router-outlet>